{% extends "base.html.twig" %}

{% block content %}
    <navbar class="shadow-md p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-slate-900">TrackBox</h1>
        <button id="sync-files" class="bg-indigo-600 hover:bg-indigo-700 hover:cursor-pointer text-white font-semibold py-2 px-4 rounded">Sync Files</button>
    </navbar>

    <div class="p-8 w-[70%] mx-auto mt-8">
        <h2 class="text-xl font-semibold mb-4 text-slate-900">Uploaded Songs ({{ files|length }})</h1>

        <div id="song-list" class="space-y-3">
            {% for file in files %}
                <div class="p-4 rounded shadow flex justify-between items-center">
                    <div>
                        <p class="font-medium">{{ file.name }}</p>
                        <p class="text-sm text-gray-500">Version: {{ file.version }} • Uploaded: {{ file.created_at|date('d/m/Y') }}</p>
                    </div>
                    {% if file.version > 1 %}
                        <button class="text-indigo-600 hover:underline hover:cursor-pointer text-sm">View Versions</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}