{% extends "base.html.twig" %}

{% block content %}
    <navbar class="shadow-md p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-slate-900">TrackBox</h1>
        <button id="sync-files" class="bg-indigo-600 hover:bg-indigo-700 hover:cursor-pointer text-white font-semibold py-2 px-4 rounded">Sync Files</button>
    </navbar>

    <div class="p-8 w-[70%] mx-auto mt-8">
        <h2 class="text-xl font-semibold mb-4 text-slate-900">Uploaded Songs</h1>

        <div id="song-list" class="space-y-3">
            <div class="p-4 rounded shadow flex justify-between items-center">
                <div>
                    <p class="font-medium">song1.mp3</p>
                    <p class="text-sm text-gray-500">Version: 3 • Uploaded: 2025-07-19</p>
                </div>
                <button class="text-indigo-600 hover:underline text-sm">View Versions</button>
            </div>
            <div class="bg-white p-4 rounded shadow flex justify-between items-center">
                <div>
                    <p class="font-medium">song2.mp3</p>
                    <p class="text-sm text-gray-500">Version: 1 • Uploaded: 2025-07-18</p>
                </div>
                <button class="text-indigo-600 hover:underline text-sm">View Versions</button>
            </div>
        </div>
    </div>
{% endblock %}